* {
    box-sizing: border-box;
    font-family: 'ZCOOL KuaiLe', cursive;
}
body {
    padding: 0;
    margin: 0;
    background-image: url("images/players.jpg");
    background-size: cover;
    color: #aaa;
}
#layout {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);
}
#hero {
    flex-basis: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid black;
    text-align: center;
}
#sidebar {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-right: 2px solid black;
    padding: 20px;
}
#content {
    flex-basis: 80%;
    padding: 20%;
    text-align: center;
    font-size: 36px;
}

#scoreboard {
    display: flex;
    justify-content: space-evenly;
}
/* button {
    background-color: #aaa;
} */
button img{
    max-width: 150px;
}
@media (max-width: 640px) {
    #sidebar {
        flex-basis: 100%;
        border-right: 0;
    }
    #content {
        flex-basis: 100%;
    }

}
@media (max-width: 475px) {
    #sidebar {
        display: none;
    }

}